.App {
width: 100%;
box-sizing: border-box;
}
.App__headers {
  height: 70px;
  width: 100%;
  background-color: rgb(8, 184, 181);
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  font-weight: bold;
}
.App__filter{
  width: 100%;
  border: none;
  padding: 10px;
}